no congestion,mild congestion,moderate congestion,severe congestion
no effusion,small effusion,medium effusion,severe effusion
no ventilation disorders,dystelactasus,atelectasis
no pneumothorax,non-tension pneumothorax,tension pneumothorax
no central venous catheter,central venous catheter
no thoracic drain,thoracic drain
no gastric tube,gastric tube
no tracheal tube,tracheal tube
no tumor,micronodulus,nodulus,tumor