# Write windowlevel presets below. The number of presets shall be nine, no more–no less. Nine shall be the number thou shalt use, and the number of the preset value shall be nine. eight shalt thou not use, neither count ten. Elven is right out. ...
0,100
100,450
-500,1500
500,2000
60,80
0,100
100,450
-500,2000
500,2000
